In [1]:
import pandas as pd

Dropna and Fillna

In [2]:
var = pd.read_csv("C:\\Users\\shrey\\Desktop\\sample.csv")

var

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [3]:
var.dropna(axis=0)

#var.dropna(how="all")  this will remove row having all element as Nan

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F

In [4]:
var.dropna(subset=["magnitude"])

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
4,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

Fillna

In [5]:
#var.fillna("python")

#particular coln particular value
var.fillna({"year":2000, "cfn_tle1":"shreya"})

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,2000.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,shreya,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [6]:
# filling Nan value with previous or next data

var.fillna(method="ffill")

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
4,2012.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F

In [7]:
var.fillna(12,inplace=True)

var

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,12,Environmental protection expenditure,12,Proportion,12,Environmental Accounts,1.1,12
4,12.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,12,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,12,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,12,1.2,F

Replace and Interpolate

1. Replace

In [8]:
var = pd.read_csv("C:\\Users\\shrey\\Desktop\\sample.csv") 

var

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [10]:
var.replace(to_replace="Central government", value="shreya")

#var.replace("[A-Z]","python",regex=True) all alphabets chnged to python

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,shreya,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,NaN,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,shreya,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,shreya,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,shreya,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [14]:
var.replace({"sector":'[a-z]'},22,regex=True)

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,22,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,NaN,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,22,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,22,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,22,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [17]:
var.replace(22,method="ffill") #doubt

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [18]:
var.replace(2017.0,method="ffill")

#with "limit" we can specify the no. of values to be replaced
#and making inplace=True we can chnge the original data

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,NaN,Environmental protection expenditure,NaN,Proportion,NaN,Environmental Accounts,1.1,NaN
4,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,Proportion,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,NaN,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
8,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

2. Interpolate

In [21]:
var = pd.read_csv("C:\\Users\\shrey\\Desktop\\sample.csv")

var

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,NaN,Central government,NaN,Environmental protection expenditure,NaN,NaN,NaN,Environmental Accounts,1.1,NaN
4,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.2,F
5,NaN,Central government,Total,Environmental protection expenditure,NaN,NaN,Actual,Environmental Accounts,1.1,F
6,NaN,Central government,Total,NaN,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.2,F
7,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.1,F
8,NaN,Central government,Total,Environmental protection expenditure,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F

In [22]:
#interpolate fill random numbers according to previous one

var.interpolate()

#this function works with numbers

,year,sector,class,cfn_tle1,cfn_tle2,units,magnitude,source,data_value,flag
0,2009.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
1,2010.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.2,F
2,2011.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,Environmental Accounts,1.1,F
3,2012.0,Central government,NaN,Environmental protection expenditure,NaN,NaN,NaN,Environmental Accounts,1.1,NaN
4,2013.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.2,F
5,2014.0,Central government,Total,Environmental protection expenditure,NaN,NaN,Actual,Environmental Accounts,1.1,F
6,2015.0,Central government,Total,NaN,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.2,F
7,2016.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.1,F
8,2017.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,NaN,Actual,Environmental Accounts,1.2,F
9,2018.0,Central government,Total,Environmental protection expenditure,Final consumption expenditure,Proportion,Actual,NaN,1.2,F